*{
    font-family: "Pixelify Sans", cursive;
    letter-spacing: 1px;

}

body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  background:#0f172a;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  color:white;
}

.screen{
  width:95%;
  max-width:800px;
  height:90vh;
  border-radius:15px;
  overflow:hidden;
  position:relative;
}

.bg{
  position:absolute;
  inset:0;
  background-size:cover;
  background-position:center;
  z-index:0;
  opacity:0.8;
}

.content{
  position:relative;
  z-index:2;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.card{
  background:rgba(0,0,0,0.55);
  padding:25px;
  border-radius:15px;
  width:90%;
  text-align:center;
}

.btn{
  background:#522fde;
  border:none;
  padding:10px 18px;
  border-radius:10px;
  color:white;
  cursor:pointer;
  font-size:16px;
}

.question{
  font-size:22px;
  margin-bottom:20px;
}

.choices{
  display:flex;
  justify-content:center;
  gap:15px;
}

.choice{
  background:#522fde;
    padding:14px 20px;
  font-size:18px; 
  min-width:120px;
  border-radius:10px;
  border:none;
  color:white;
  cursor:pointer;
}

.messenger {
  width: 90%;           
  max-width: 300px;     
  height: auto;         
  margin: 20px auto 0;  
  cursor: pointer;
  display: block;     
}

.messenger img {
  width: 100%;
  height: auto;     
  object-fit: contain; 
  border-radius: 0;
  display: block;
}

#endCard .center {
    position: relative;
    padding-bottom: 20px; 
}

#endCard .center h1,
#endCard .center p {
    margin-bottom: 10px;  
    position: relative;
    z-index: 2;
}

.pop{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  background:white;
  color:black;
  padding:20px;
  border-radius:12px;
  display:none;
  z-index:10; 
  width:300px;          
  max-width:90%;        
  text-align:center;
}

.pop img{
  width:100%;      
  height:auto;     
  border-radius:8px;
  margin-top:10px;
}


.row{
  display:flex;
  justify-content:center;
  gap:10px;
  margin-top:15px;
}

.btn-yes{
  background:#10b981;
  padding:10px 18px;
  border:none;
  border-radius:10px;
  color:white;
  font-weight:bold;
}

.btn-no{
  background:white;
  color:red;
  border:2px solid red;
  padding:10px 18px;
  border-radius:10px;
}

.celebrate{
  display:flex;
  flex-direction:column;
  gap:10px;
}

.celebrate-gif {
  width: 100%;       
  max-width: 350px;  
  height: auto;      
  display: block;
  margin: 15px auto; 
}

#progress {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;  
    color: #522fde;       
}

.dead-gif {
  width: 100%;
  max-width: 350px;
  height: auto;
  display: block;
  margin: 15px auto;
}


